@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    background-color:rgb(58, 58, 61);
    background-image: url('udUclZY.jpg');

}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Roboto Mono", monospace; 
}
nav ul{
    
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(0, 0, 0);
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width:48px ;
    padding: 8px;
    border-radius: 34px;
    transition: 3s linear;
}
.brand img:hover
{
  transform: rotatey(360deg);
}
.brand{
    display: flex;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 64.4vh;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    font-family: "Roboto Mono", monospace; 
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 25px;
    background-image: url('poc.jpg');
}

.bottom{
    position: sticky;
    height: 85px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Mono", monospace; 
}
.songProgress{
    display: flex;
    
}

.icons{
    margin: 12px 0;
}
.icons i{
    cursor: pointer;
}

.songitem{
 height: 35px;
 display: flex;
 background-color: rgb(0, 0, 0);
 border-style: solid;
 border-color: white;
 
 margin: 12px 0;
 justify-content: space-between;
 align-items: center;
 border-radius: 34px;
 
}
.songitemcontainer{
    margin-top: 23px;
    
}
.songitem img{
 width: 28px;
 margin: 0 23px ;
 border-radius: 34px;
 transition: 3s linear;
}
.songitem img:hover
{
  transform: rotate(360deg);
}
.timestamp{
    margin: 0 23px;
}
.timestamp i.songItemPlay{
    cursor: pointer;
    width: 2px;
    
}
.songinfo{
    position:absolute;
    left: 0;
    
}

.songinfo img{
     opacity: 0;
     transition: opacity 0.4s ease-in;
}